# Ignore for publishing
.vscode/**
.vscode-test/**
node_modules/**
src/**
out/**/*.map
out/**/*.d.ts
out/cli/*.pdb
out/cli/*.xml
**/*.test.js
.gitignore
tsconfig.json
vscode.proposed.*.d.ts
.eslintrc.json
webpack.config.js
Makefile
*.vsix

# Keep these for the package
!out/**/*.js
!out/cli/complexity-cli*
!README.md
!CHANGELOG.md
!LICENSE
